<%= form_for(@judge) do |f| %>
  <% if @judge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@judge.errors.count, "error") %> prohibited this judge from being saved:</h2>

      <ul>
      <% @judge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :select_type %><br />
    <%= f.radio_button :select_type, 0 %> 選択式 
    <span id="judge_select_items_form"><%= text_field_tag "judge[select_items]", "", :id => "judge_select_items" %>(カンマ区切り)</span> <br />
    <%= f.radio_button :select_type, 1 %> 記入式
  </div>
  <div class="field">
    <%= f.label :judge_type %><br />
    <%= f.radio_button :judge_type, 0 %> ランダム<br />
    <%= f.radio_button :judge_type, 1 %> 多数決重視
  </div>
  <div class="field">
    <%= f.label :judge_time %><br />
    <%= f.datetime_select :judge_time %>
  </div>
  <div class="field">
    <%= f.label :remove_time %><br />
    <%= f.datetime_select :remove_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <script>
  $(document).ready(function(){
    $("#judge_select_items_form").hide();
    $("#judge_select_type_0").change(function(){
      reset_judge_select_items();
    });
    $("#judge_select_type_1").change(function(){
      reset_judge_select_items();
    });

    function reset_judge_select_items(){
      if($("#judge_select_type_0:checked").size() > 0){
        $("#judge_select_items_form").show();
      }else{
        $("#judge_select_items_form").hide();
      }
    }
  });
  </script>
<% end %>
