<%= form_tag judge_submits_path(@judge) do %>
  <% if @submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= @submit.errors.count %> 件のエラーがあります</h2>

      <ul>
      <% @submit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @judge.select_items.each_with_index do |item, i| %>
    <%= radio_button_tag "submit[select_item]", i %> <%= item.title %>
    <% end %>
    <% if @judge.present_etc? %>
    <%= radio_button_tag "submit[select_item]", @judge.select_items.count %> <%= text_field_tag "submit[select_item_etc]" %>
    <% end %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
