<%= form_for @submit, :url => judge_submits_path(@judge) do |f| %>
  <% if @submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submit.errors.count, "error") %> prohibited this submit from being saved:</h2>

      <ul>
      <% @submit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @judge.select_items.each_with_index do |item, i| %>
    <%= f.radio_button :select_item, i %> <%= item.title %><br />
    <% end %>
    <% if @judge.present_etc? %>
    <%= f.radio_button :select_item, @judge.select_items.count %> <%= f.text_field :select_item %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
